.anchor{
    text-decoration: none;
    color: rgb(161, 161, 161);
    font-size: 17px;
}

#logout_btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(161, 161, 161);
    font-size: 17px;
}

#logout_btn:hover{
    color: blue;
    background-color: transparent;
}

#title{
text-decoration: none;
color: lightgray;
font-size: 21px;
}