#products_wrapper {
  width: 60%;
  margin: auto;
  border: 1px solid rgb(176, 175, 175);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;

  background-color: white;
}

#users_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 600px;
}

#admin_panel {
  margin-top: 20px;
  width: 100%;
}

#orders_container {
  width: 47%;
  height: 500px;
  border: 1px solid rgb(176, 175, 175);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: auto;
  background-color: white;
  margin: 10px;
}

#users_container {
  width: 47%;
  border: 1px solid rgb(176, 175, 175);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 10px;
  height: 500px;
  overflow: auto;
  background-color: white;
  margin: 10px;
}

#feedbacks_container {
  margin: auto;
  width: 50%;
  border: 1px solid rgb(176, 175, 175);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 10px;
  height: 600px;
  overflow: auto;
  background-color: white;
}

#breadcrumb {
  margin: auto;
  width: 20%;
}

.link > a {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-size: larger;
}
