.image {
  height: 300px;
  width: 100%;
  margin-top: 5px;
}

.each_card {
  margin: 10px;
  width: 24%;
}

.button {
  position: relative;
  bottom: 0;
}

.anchor {
  text-decoration: none;
  color: white;
}

.info_container {
  margin-top: 10px;
  height: 215px;
  width: 100%;
}

.anchor:hover {
  color: rgb(219, 219, 219);
}
